 /* Setting CSS bagian header/ kop  */

  table.page_header {width: 1020px; border: none; background-color: #DDDDFF; border-bottom: solid 1mm #AAAADD; padding: 2mm }
  table.page_footer {width: 1020px; border: none; background-color: #DDDDFF; border-top: solid 1mm #AAAADD; padding: 2mm}
  

/* 
 Setting Margin header/ kop 
 Setting CSS Tabel data yang akan ditampilkan  */

 .tabel2 {
  border-collapse: collapse;
  margin-left: 5px;
}
.tabel2 th, .tabel2 td {
  padding: 5px 5px;
  border: 1px solid #000;
}
div.kanan {
 position: absolute;
 bottom: 100px;
 right: 50px;

}

div.tengah {
 position: absolute;
 bottom: 100px;
 right: 330px;

}

div.kiri {
 position: absolute;
 bottom: 100px;
 left: 10px;     
}